* {	
	font-family: Tahoca;
	color: #008080;
}

p {
	text-align: justify;
	margin-top: 20px;
}

ul {
	list-style-type: square;
}

ol {
	list-style-type: upper-roman;
}

img {
	width: 400px;
}

iframe {
	border: 1px solid #000;
	width: 50%;
}

h1 {
	margin-bottom: 40px;
	text-align: center;
}

a {
	text-decoration: none;
	border: 1px solid #ccc;
	padding: 20px 40px;
	color: #fff;
	background-color: #7a8476;
}

a:hover {
	background-color: #366722;
}

/* table */
table, th, td {
	border: 1px solid #366722;
}

th, td {
	padding: 7px;
}

/* div and span */
div {
	background-color: #ccc;
	padding: 20px;
}

span {
	color: darkolivegreen;
}

/* video */
video {
	width: 600px;
	height: 600px;
}

div.video {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
}

/* formulário */
form {
	max-width: 300px;
}

input {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-enviar {
	padding: 10px 15px;
	background-color: #7a8476;
	color: #fff;
	border: 1px solid #7a8476;
}